
body {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
    user-select: none;
}
input {
    font-family: Verdana;
}

#main_view {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden; /* TEMP needed for some strangeness that creates a scrollbar randomally when resizing */
}

#image_panel {
    display: inline-block;
    width: calc(50% - 4px);
    vertical-align: top;
   
}

#edit_panel {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 50%;
    height:100%;
}
#edit_params {
    /*display: block;*/
    height: 200px;
    width: 100%;
    background-color: #312F31;
    color: #fff;  
    overflow: auto;  
    white-space: nowrap;
}

.splitter {
    display: inline-block;
    background-color: #ddd;
}
.splitter:hover {
    background-color: #ccc;
}
#image_splitter {
    cursor: col-resize;
    width:5px;
    height:100%;
}
#edit_splitter {
    display: block;
    cursor: row-resize;
    height: 5px;
    width: 100%;
}

.ctx_menu {
    position: absolute;
    background-color: #656565;
    padding: 7px 0;
    border-radius: 4px;
    border: solid 2px #7d7d7d;
    color: #fff;
    line-height: 140%;
    white-space: nowrap;
}
.ctx_menu_opt {  
    padding: 0 7px;
}
.ctx_menu_opt:hover {  
    background-color: #888888;
}
.ctx_menu_sep {
    margin: 3px;
}

.selection_rect {
    position: absolute;
    border: dotted 2px #989898;;
    background-color: rgba(191, 231, 255, 0.2);
}

.node_name_edit {
    position: absolute;
}
.node_name_input {
    outline:none;  /* no focus outline */
    width: 150px;
    font-size: 14px;
    margin-left: -4px;
    background-color: #555;
    color: #fff;
    border: solid 1px #888;
    padding-left: 3px;
    border-radius: 2px;
    
}
.param_line {
    display: flex;
    padding: 5px 0 0 0;
    align-items: center;
    position: relative;  /* for error messages to appear relative to its line */
}
.param_multi_line {
    padding: 5px 0 0 0;
}

.param_block {
    padding: 5px 0 0 0;
}
.param_disabled {
    opacity: 0.6;
    pointer-events:none;
}
.param_invisible {
    display: none;
}
.param_separator {
    margin: 8px 4px 4px 4px;
    border-style: none;    /* just space, no line */
}
.param_label_pre {
    width: 120px;
    display: inline-block;
    text-align: right;
    white-space: nowrap;
}
.param_label_pre_indent {
    width: 150px; 
}
.param_label_colon {
    padding-right: 2px;    
}
.param_label_pre_empty {
    width: 120px;
    display: inline-block;
    text-align: right;    
    padding-right: 11px;    
}

.param_input {
    background-color: #555;
    color: #fff;
    border: solid 1px #888;
    margin: 0 5px;
    height: 24px;
    border-radius: 3px;
    padding: 0 5px;
    width: 25%;
    min-width: 100px;
    font-family: Verdana;
    font-size: 14px;        
}
.param_input_long {
    /*width: calc( 100% - 160px )*/
    flex-grow: 1;
    margin-right:10px;
}
.param_input_error {
    background-color: #a22;
}
.param_editbox {
    
}
.param_edit_err_box {
    position:absolute;
    background-color: #a22;
    color: #fff;
    border: solid 1px #000;
    z-index: 1; /* get on top of the following edit boxes */
    align-self: flex-end;
    margin-top: 6px;
    padding: 3px;
    border-radius: 3px;
    font-size: 14px;
    display:none;
}
.param_editbox:focus + .param_edit_err_box {
    display:initial;
}

.param_color_from_input {
    background-color: #555  !important;  /* override element style */
    color: #fff  !important;
    font-style: italic;
}
.param_color_from_input::placeholder {
    color: rgb(106, 157, 253) !important;;
}


.param_checkbox_input {
    position: absolute;
    z-index: -2;
    opacity: 0;
}
.param_checkbox_disp {
    width: 17px;
    height: 17px;
    margin: 0 4px 0 2px;
    vertical-align: middle;
}
.param_checkbox_input + .param_checkbox_disp {
    background-image: url(img/check_none.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.param_checkbox_input:checked + .param_checkbox_disp {
    background-image: url(img/check_checked.png);
}
.param_checkbox_input:indeterminate + .param_checkbox_disp {
    background-image: url(img/check_int.png);
}
.param_checkbox_input[disabled="true"] + .param_checkbox_disp {
    filter: brightness(90%);
}
.param_checkbox_text {
    display: inline-block;
}

.param_list_title {
    margin: 0 0 3px 0;
}
.param_list_entry {
}
.param_list_row:nth-child(even) {
    background-color: #4e494e;
}
.param_list_cell {
    display: inline-block;
    width: 140px;
    border-right: solid #aaa 1px;
    height: 21px;
    line-height: 21px;
    position: relative; /* for grip absolute */
    padding: 0 4px 0 4px;
    vertical-align: bottom; /* avoid the baseline change that overflow makes */
}

.param_list_row {
}
.param_monospace {
    font-family: monospace;
    font-size: 16px;
    margin: 0 0 0 15px;       
    overflow-x: hidden;
    height: 21px;
}
.param_lst_clickable:hover {
    background-color: #474780;
    border-radius: 4px;
}
.param_lst_coord_edit_wrap {
    position: absolute;
    background-color: #777;
    z-index: 1;
    padding: 5px;
    border-radius: 4px;    
}

.param_table_input_color {
    display: block;
    background-color: #555;
    color: #fff;
    border: solid 1px #888;
    margin: 0 5px;
    height: 21px;
    border-radius: 3px;
    padding: 0 5px;
    width: calc( 100% - 5px);;
    min-width: 100px;
    overflow-x: hidden;
    box-sizing: border-box;   
}
.param_list_selected_line {
    color: #ffff00
}

.param_table_column {
    position: relative; /* for grip absolute */
    display: inline-block;
    border-right: solid #aaa 1px;
    padding: 0 4px 0 4px;
    vertical-align: bottom; /* make color inputs align with normal text inputs */
}
.param_table_grip {
    position: absolute;
    height: 100%;
    width: 7px;
    right: -4px;
    top: 0;
    cursor: col-resize;
    z-index: 1;  /* don't put z-index in cell to avoid it being above it for some reason */
}

#canvas_webgl{ 
    border: solid 1px;
    display: none; /* TEMP */
}
#canvas_nd_shadow {
    border: solid 1px;
    display: none;
}
#canvas_image {
    /*display: none; /*TEMP*/
}
#canvas_img_shadow {
    border: solid 1px;
    display: none;
}

.param_btn {
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #808080, #707070);
    text-align: center;
    height: 25px;
    line-height: 24px;
    color: #fff;
    margin: 0 0 0 3px;
    padding: 0 10px 0 10px;
    min-width: 70px;    
}
.param_btn:hover {
    background-image: linear-gradient(to bottom, #909090, #808080);  
}
.param_btn:active , .param_checkbox_input:checked+.param_btn {
    background-image: linear-gradient(to bottom, #9090d0, #8080d0); 
}
.param_select {
}
.param_file_input {
    display: none;
}
.param_file_choose_btn {
    width: 130px;
}
.param_file_show_parent {
    position: relative;
    display: inline-block;
}
.param_file_show {
    display: inline-block;
    margin: 0 0 0 7px;
    font-family: monospace;
    font-size: 15px;   
    line-height: 24px; 
}
.param_file_progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;    
    height: 24px;
    display: none;
    margin: 0 0 0 7px;
    -webkit-appearance: none;
}
.param_file_progress::-webkit-progress-bar {
    background-color: #bbb;
    border-radius: 3px;
    opacity:0.7;
}
.param_file_progress::-webkit-progress-value {
    background-color: #8e8ef7;
    border-radius: 3px;
}

.dlg {
    position: fixed;
    width: 600px;
    left: calc( 50% - 300px );
    height: 600px;
    border-radius: 10px;
    background-color: #5a5a5a;
    border: solid #333 2px;
    box-sizing: border-box;
    top: 70px;
}
.dlg_resize_rb {
    position: absolute;
    width:35px;
    height:35px;
    right:-2px;
    bottom:-2px;
    /*background-color:#ff0;*/
    cursor: nw-resize;
}
.dlg_resize_lb {
    position: absolute;
    width:35px;
    height:35px;
    left:-2px;
    bottom:-2px;
    /*background-color:#ff0;*/
    cursor: ne-resize;
}
.dlg_resize_r {
    position: absolute;
    width: 7px;
    height: 100%;
    right: -2px;
    top: 0;
    cursor: w-resize;
}
.dlg_resize_l {
    position: absolute;
    width: 7px;
    height: 100%;
    left: -2px;
    top: 0;
    cursor: w-resize;
}
.dlg_resize_b {
    position: absolute;
    width: 100%;
    height: 7px;
    bottom: -2px;
    cursor: s-resize;
}
.dlg_param_text_area {
    margin: 5px;
    height: calc( 100% - 10px - 21px);
    width: calc( 100% - 10px );
    background-color: #686868;
}
.panel_param_text_area {
    flex-grow: 1;
    margin: 0 10px 0 5px;
    background-color: #555;
    border-radius: 3px;
    font-size: 14px;
}
.param_text_area {
    box-sizing: border-box;
    color: #fff;
    font-family: monospace;
    font-size: 15px;  
    resize: none;
    outline: none; /* don't show focus border */
    border: solid 1px #888;
}
.dlg_title {
    margin: 0 0 0 7px;
    height: 21px;
    line-height: 21px; 
    cursor: move;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
}
.dlg_close_btn {
    position: absolute;
    right: 0;
    top: 0;    
    width: 24px;
    height: 21px;
    margin: 2px 3px 0 0;
    background-image: url(img/gray_ex.png);
    cursor: auto;
}
.dlg_close_btn:hover {
    background-image: url(img/red_ex.png)
}
.dlg_label {
    margin-top: 10px;
    text-align: center;
    color: #fff;
}

.top_menu {
    position: absolute;
    top: 0;
    background-color: #656565;
    padding: 0 0 2px 0;
    border-radius: 0 0 6px 6px;
    border: solid 2px #7d7d7d;
    color: #fff;
    line-height: 140%;
    width: 40px;
    text-align: center;
}
.top_menu:hover {  
    background-color: #888888;    
}
.top_menu_file {
    left: 10px;
}

.dlg_save_as {
    width: 230px;
    height: 120px;
}
.dlg_text_input {
    margin: 5px;

}

.dlg_save_as > .param_btn {
    margin: 5px;
}

#div_display_params {
    margin-top: 10px;
    background-color: rgba(0,161,247,0.3);
    position: relative;
    padding-bottom: 5px;    
}
#div_display_params:empty {
    display:none;
}
#div_display_params:before {
    position: absolute;
    width: 20px;
    content: "";
    height: 100%;
    display: inline-block;
    background-color: #00A1F7;
    border: solid 2px #000;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
}

